/* This file is for your main application css. */
.volders-logo {
  width: 550px;
  height: 71px;
  display: inline-block;
  margin-bottom: 1em;
  background-image: url("/images/logo.svg");
  background-size: 660px 71px;
}

.help-block {
  color: red !important;
}

.form-group.toggle-content {
	display: none ; 
}

.form-group.toggle-content.is-visible {
	display: block;
}

.clickable-tr {
  cursor: pointer;
  border-color: gray;
  border-style:solid;
}